/*
  Authors : Mudey Formation
  Website : https://mudey.fr/
  App Name : E-commerce with React.Js
  Created At : 02/08/2024 23:13:15
*/

.Home {}

.acceille {
  position: absolute;
  top: 0; 
  left: 0; 
  width: 100%;
  height: 720px;
  color: white;
  background-image: url('/public/assets/images/acceuil/bacgrounAcceuil.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; /* Centrer l'image de fond */
  opacity: 0.1;
  /* padding-top: 200px; */
  z-index: 50; /* Assurez-vous que l'élément est au-dessus des autres */
}

.opacity {
  height: 700px;
  margin-top: -64px;
  background-color: black;
  opacity: 0.9;
  z-index: 40; /* Assurez-vous que cet élément est en dessous de .acceille */
}
.accueilContent{
 position: absolute;
 top: 45%;
 left: 23%;
 transform: translate(-50px, -50px);
 color: white;
}
.accueilContentH1{
font-size: 70px;
margin-bottom: 30px;
}












